<h1>Make your form here</h1>
<form method="post" action="/pirates">
<p><label for="pirate[name]">Pirate's Name:</label>
  <input type="text" name="pirate[name]" id="pirate[name]"></p>
<p><label for="pirate[weight]">Pirate's Weight:</label>
  <input type="text" name="pirate[weight]" id="pirate[weight]"></p>
<p><label for="pirate[height]">Pirate's Height:</label>
  <input type="text" name="pirate[height]" id="pirate[height]"></p>

<button type="submit" value="submit">Submit</button>
</form>
