<h1>Make your form here</h1>
<form method="post" action="/pirates">
<label for="pirate[name]">Pirate's Name:</label>
<p><input type="text" name="pirate[name]"></p>

<button type="submit" value="submit">Submit</button>
</form>
